@using MvcAuth.Mvc.ViewModels.Usuario;
@model UsuarioCadastroViewModel
@{
    var erro = TempData["Erro"] ?? "";
}

@if (!string.IsNullOrEmpty(erro.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @erro
    </div>
}


<div class="row">

    <div class="panel panel-success">

        <div class="panel panel-heading">
            <h3>Cadastre Se</h3>
        </div>

        <div class="panel panel-body">
            <form asp-controller="Usuario" asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Sobrenome" class="control-label"></label>
                    <input asp-for="Sobrenome" placeholder="Digite o sobrenome..." class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="SenhaConfirmacao" class="control-label"></label>
                    <input asp-for="SenhaConfirmacao" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="SenhaConfirmacao" class="text-danger"></span>
                </div>
                
                
                <div class="form-group mt-4 col-12">
                    <input type="submit" value="Cadastre Se" class="btn btn-info mx-auto" />
                </div>
            </form>
        </div>
    </div>

</div>