@using MvcAuth.Mvc.ViewModels.Usuario;
@model UsuarioViewModel;
@*

*@
@{
}

<h1>Deletar</h1>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Exclusão de Usuario</h3>
    </div>

    <div class="panel panel-body">

        <div>
            <h5>Tem certeza que deseja excluir este registro?</h5>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
        </div>
        <form asp-asp-controller="Usuario" asp-action="ConfirmDelete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Confirmar Deleção" class="btn btn-danger" />
            <a class="btn btn-info" asp-asp-controller="Usuario" asp-action="Index">Voltar para a Lista</a>
        </form>

    </div>
</div>