html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

a{
    padding: 0;
}

ul {
    margin: 0;
}
