@{
    var isMenu = TempData["IsMenu"] ?? false;

}

@if (isMenu is false)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </li>*@
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item btn-danger">
                <a class="nav-link text-light " asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
            </li>

        </ul>
    </div>
}
else
{
    <div class="navbar__menu">
        <ul class="navbar__menu-box">
            <li class="box-item">
                <a class="btn btn-danger text-light " asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
            </li>
        </ul>
    </div>
}
