@using MvcAuth.Mvc.ViewModels.Usuario;
@{
    ViewData["Title"] = "Home Page";

    var usuario = new UsuarioLogado(User);
}


@if (usuario.IsAutenticado)
{
    <div class="text-center">
        <h1 class="display-4">Bem Vindo, @usuario.NomeDeUsuario</h1>
    </div>
}

