body{
    margin-bottom: 0;
}

.navbar-brand {
    display: none !important;
}

.body{
    display: flex;
}

.body__right {
    width: calc(100vw - 300px);
    height: 100vh;
}

.body__right-content{
    padding: 1rem;
}