@{
}

<div class="sidenav">
    <div class="sidenav__box">
        
        <div class="sidenav__box-item">
            <i class="bi bi-person sidenav__box-icon"></i>
            <a class="sidenav__box-text" href="/meu-perfil">Meu Perfil</a>
        </div>

        <div class="sidenav__box-item">
            <i class="bi bi-key sidenav__box-icon"></i>
            <a class="sidenav__box-text" href="/alterar-senha">Alterar Senha</a>
        </div>

    </div>
</div>



