@{
    var erro = TempData["Erro"] ?? "";
}

@if (!string.IsNullOrEmpty(erro.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @erro
    </div>
}

<form asp-controller="Usuario" asp-action="Confirmar">
    <input type="number" name="codigoConfirmacao" id="codigoConfirmacao"/>
    <input type="submit" value="Confirmar" class="btn btn-info"/>
</form>
