@using MvcAuth.Mvc.ViewModels.Usuario;
@model UsuarioViewModel
@{
    Layout = "_LayoutAutenticado";
    var erro = TempData["Erro"] ?? "";
    var sucesso = TempData["Sucesso"] ?? "";
}

@if (!string.IsNullOrEmpty(erro.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @erro
    </div>
}
@if (!string.IsNullOrEmpty(sucesso.ToString()))
{
    <div class="alert alert-success" role="alert">
        @sucesso
    </div>
}


<div class="row">

    <div class="panel panel-success">

        <div class="panel panel-heading">
            <h3>Editar Perfil</h3>
        </div>

        <div class="panel panel-body">
            <form action="/ConfirmarAlteracao" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sobrenome" class="control-label"></label>
                    <input asp-for="Sobrenome" placeholder="Digite o sobrenome..." class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" placeholder="Digite o nome..." class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 col-12">
                    <input type="submit" value="Salvar" class="btn btn-info mx-auto" />
                </div>
            </form>
        </div>
    </div>

</div>
@{
}
